<html lang="en">

<head>
  <!-- Adding css to our page -->
  <link rel="stylesheet" href="/css/home.css">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h1>Contact List</h1>
  <div>
    <ul>
      <% for(let i of contact_List){ %>
        <li>
          <p>
            <%= i.name %>
          </p>
          <p>
            <%= i.phone %>
          </p>
          <div>
            <!-- <a href="/delete-contact/<%= i.phone %>">
              <button>delete</button>
            </a> -->
            <a href="delete-contact/?phone=<%= i.phone %>">
              <button>delete</button>
            </a>
          </div>
        </li>
  
        <% } %>
    </ul>

  </div>
  <div>
    <form action="/create-contact" method="post">
      <input type="text" name="name" placeholder="Enter your name" required>
      <input type="number" name="phone" placeholder="Enter your number" required>
      <button type="submit">Add Contact</button>
    </form>
  </div>
 
<!-- Adding js to our page -->
<script type="text/javascript" src="/js/home.js"></script>
</body>

</html>