<html lang="en">

<head>
  <!-- Adding css to our page -->
  <link rel="stylesheet" href="/css/home.css">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <!-- Making Login button -->
  <div class="btn">
    <form action="/logout" method="get">
      <button  class="custom-button" type="sumbit">Logout</button>
    </form>
  </div>

  
  <div class="wrapper">
    <h1 class="heading">Contact List</h1>
    <ul>
      <% for(let i of contact_List){ %>
        <div class="container">
          <li>
            <p>
              <%= i.name %>
            </p>
            <p>
              <%= i.phone %>
            </p>
            <div>
              <!-- <a href="/delete-contact/<%= i.phone %>">
                <button>delete</button>
              </a> -->
              <a href="delete-contact/?id=<%= i.id %>">
                <button class="button">delete</button>
              </a>
            </div>
          </li>
        </div>
       
  
        <% } %>
    </ul>
    <div>
      <form action="/create-contact" method="post">
        <input type="text" name="name" placeholder="Enter your name" required>
        <input type="number" name="phone" placeholder="Enter your number" required>
        <button class='submit' type="submit">Add Contact</button>
      </form>
    </div>

  </div>
  
 
<!-- Adding js to our page -->
<script type="text/javascript" src="/js/home.js"></script>
</body>

</html>